:root
{
	--ot-spacing-x: 4px;
	--ot-spacing-s: 8px;
	--ot-spacing-m: 16px;
	--ot-spacing-l: 32px;

	--ot-radius-s: 4px;
	--ot-radius-m: 8px;
	--ot-radius-l: 12px;

	--ot-height-x: 18px;
	--ot-height-s: 28px;
	--ot-height-m: 34px;
	--ot-height-l: 44px;

	--ot-size-x: 11px;
	--ot-size-s: 11px;
	--ot-size-m: 13px;
	--ot-size-l: 22px;
}

@media screen and (max-width: 900px)
{
	:root
	{
		--ot-spacing-l: 16px;
	}
}
